{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["> 1%"],
        "uglify": true
      },
      "modules": false
    }]
  ],
  "plugins": [],
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    }
  }
}
